<div id={{ book.volume.id }} class="book">
    <h2 class="title">{{ book.volume.title }}</h2>
    <p class="author"><strong>Author: {{ book.volume.authors|join(', ') }}</strong></p>
    <p class="description">{{ book.volume.description }}</strong></p>
    <a class="bookmark" href={{ url('app_add_bookmark', parameters = {'id': book.volume.id}) }}>Bookmark</a>
</div>